html{

    min-height: 100vh;
}

body {

    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

div{

    
    justify-content: center;
}

.section__1{

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;

}

.column__1 {

    
    display: flex;
    border: 3px dotted black;
    width: 200px;
    height: auto;
    
    
}    

.logo {
    
    
    width: 250px;
    height:250px;
}

.bottom__info{

    
    height: 50px;
    width: auto;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    
}

.section__bottom {

    display: flex;
    justify-content: center;

}
